<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Get seated!</title>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">

</head>

<body class="seating-app" ng-app="dragDrop" ng-controller="DragDropCtrl" ng-cloak>
  <div>
    <div class="logo">Get seated!</div>
    <div class="control-panel">
        <label for="simulation-time" class="occasion-select">Duration</label>
        <select id="simulation-time" class="occasion-select" ng-model="simulationTime" ng-options="time.name for time in simulationTimes"></select>
        <label for="colocation-penalty" class="occasion-select">Co-location penalty</label>
        <select id="colocation-penalty" class="occasion-select" ng-model="colocPenalty" ng-options="p for p in penaltyChoices"></select>
        <button class="button occasion-button" ng-class="{ 'command-in-progress' : commandInProgress }" ng-disabled="commandInProgress" ng-click="runSimulation()">Optimize!</button>
        <div class="clear">&nbsp;</div>
    </div>
    <div>
        <a href class="occasion-link" ng-click="stepOccasion(-1)"><< {{previousOccasion.name}}</a>
        <span class="occasion-name">{{currentOccasion.name}}</span>
        <a href class="occasion-link" ng-click="stepOccasion(1)">{{nextOccasion.name}} >></a>
        <div class="clear">&nbsp;</div>
    </div>
  </div>
  <div class="occasion">
    <div class="table-div" ng-repeat="table in currentOccasion.tables">
		<table  class="table-table">
			<thead>
				<tr>
					<td>Table {{$index + 1}}</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="participant in table">
					<td>
                        <div switchable conference="conference" drop="handleDrop" participant-ix="$index" table-ix="$parent.$index"
                             occasion-ix="currentOccasionIx" class="participant" ng-class="{ 'fix' : participant.fix }">
                            {{ participant_names[participant.id] }}
                        </div>
                    </td>
				<!-- conference[occasionIx].tables[tableIx][participantIx].fix == true -->
				</tr>
			</tbody>
		</table>
	</div>
  </div>
  <div class="clear">&nbsp;</div>
  <a href ng-click="getResult()">Download result</a>
  <div>
    <h1>Top {{relationsCount}} worst seatings</h1>
    <table id="hor-minimalist" class="relations-table">
        <thead>
            <tr>
                <td>Relation</td><td>Count</td><td>Badness</td><td>Tables</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="relation in relations">
                <td>{{ participant_names[relation[0]] }} - {{ participant_names[relation[1]] }}</td>
                <td>{{ relation[2] }}</td>
                <td>{{ relation[3] }}</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
  </div>
</body>

  <script src='/static/angular.min.js'></script>

  <script>
    var app = angular.module('dragDrop', []);

	app.directive('switchable', function() {
	  return {
		scope: {
		  lock: '&',
		  conference: '=', 
		  occasionIx: '=',
		  tableIx: '=',
		  participantIx: '='
		},
		link: function(scope, element) {
		  // Get the native object
		  var el = element[0];
		  el.draggable = true;

		  function setTargetAppearence(target, event) {
			  sourceParticipant = scope.conference[scope.conference.dragSourceOccasionIx].tables[scope.conference.dragSourceTableIx][scope.conference.dragSourceParticipantIx];
			  targetParticipant = scope.conference[scope.occasionIx].tables[scope.tableIx][scope.participantIx];

			  if ((scope.conference.dragSourceOccasionIx != scope.occasionIx || sourceParticipant.fix || targetParticipant.fix) && (sourceParticipant != targetParticipant)) {
				target.classList.add('over-nok');
			  } else {
				target.classList.add('over-ok');			  
			  }
			  return false;
		  };

		  function clearTargetAppearance(target) {
			  target.classList.remove('over-ok');
			  target.classList.remove('over-nok');
			  return false;
		  };
		  
		  el.addEventListener(
			'dragover',
			function(e) {
			  e.dataTransfer.dropEffect = 'move';
			  // allows us to drop
			  if (e.preventDefault) e.preventDefault();
			  return setTargetAppearence(this, e);
			},
			false
		  );

		  el.addEventListener(
			'dragenter',
			function(e) {
			  return setTargetAppearence(this, e);
			},
			false
		  );

		  el.addEventListener(
			'dragleave',
			function(e) {
			  return clearTargetAppearance(this);
			},
			false
		  );

		  el.addEventListener(
			'drop',
			function(e) {
			  // Stops some browsers from redirecting.
			  if (e.stopPropagation) e.stopPropagation();

			  clearTargetAppearance(this);
			  sourceParticipant = scope.conference[scope.conference.dragSourceOccasionIx].tables[scope.conference.dragSourceTableIx][scope.conference.dragSourceParticipantIx];
			  targetParticipant = scope.conference[scope.occasionIx].tables[scope.tableIx][scope.participantIx];

			  if (scope.conference.dragSourceOccasionIx != scope.occasionIx || sourceParticipant.fix || targetParticipant.fix) {
				return false;
			  }			  
			  
			  scope.$apply(function(scope) {
				  // Switch the data rather than the actual DOM elements
                  console.log("Dropping");
				  scope.conference[scope.conference.dragSourceOccasionIx].tables[scope.conference.dragSourceTableIx][scope.conference.dragSourceParticipantIx] = targetParticipant
				  scope.conference[scope.occasionIx].tables[scope.tableIx][scope.participantIx] = sourceParticipant
			  });
			  
			  return false;
			},
			false
		  );
		  

    	   el.addEventListener(
			  'dragstart',
			  function(e) {
				console.log("Starting to drag: " + scope.occasionIx + ", " + scope.tableIx + ", " + scope.participantIx);
				e.dataTransfer.effectAllowed = 'move';

                // Using variables directly on the scope for communicating which participant
                // is dragged is a hack to work around that Chrome won't allow access to the
                // data in the dataTransfer object for all states.
                scope.conference.dragSourceOccasionIx = scope.occasionIx;
                scope.conference.dragSourceTableIx = scope.tableIx;
                scope.conference.dragSourceParticipantIx = scope.participantIx;

				this.classList.add('drag');
				return false;
			  },
			  false
			);

			el.addEventListener(
			  'dragend',
			  function(e) {
				this.classList.remove('drag');
				return false;
			  },
			  false
			);

			el.addEventListener(
			  'click',
			  function(e) {
				scope.$apply(function(scope) {
				  console.log("Clicking!")
				  console.log(scope.conference[scope.occasionIx].tables[scope.tableIx][scope.participantIx])
				  scope.conference[scope.occasionIx].tables[scope.tableIx][scope.participantIx].fix = !scope.conference[scope.occasionIx].tables[scope.tableIx][scope.participantIx].fix;
			    });
    			
				return false;
			  },
			  false
			);

		}
	  }
	});

	// Conference is made up of occasions with names
//	var xparticipant_names = ["John Doe", "Tom Bom", "Niel Fish", "Locky Bastard", "Joe Johnson", "Any One", "Bom Bom", "Bam Bam", "Pete"];
//	var xconference = [{name: "Sunday", tables: [[{id: 0, fix: false}, {id: 2, fix: false}],
//	                                            [{id: 2, fix: false}, {id: 3, fix: true}]]},
//					  {name: "Monday", tables: [[{id: 4, fix: false}, {id: 5, fix: false}],
//					                            [{id: 6, fix: false}, {id: 7, fix: false}, {id: 8, fix: false}]]}];

 	var participant_names = %%staff_names|safe%%;
    var conference = %%conference|safe%%;
    var relations = %%relations|safe%%;
    var weight_matrix = %%weight_matrix|safe%%;

	app.controller('DragDropCtrl', function($scope,  $http, $document) {
	  $scope.conference = conference;
	  $scope.participant_names = participant_names;
	  $scope.relationsCount = 50;
	  $scope.relations = relations.slice(0, $scope.relationsCount);
	  $scope.currentOccasionIx = 0;

	  $scope.stepOccasion = function(direction) {
	     $scope.currentOccasionIx = ($scope.currentOccasionIx + direction + $scope.conference.length) % $scope.conference.length;
         $scope.currentOccasion = $scope.conference[$scope.currentOccasionIx];
	     $scope.previousOccasion = $scope.conference[($scope.currentOccasionIx - 1 + $scope.conference.length) % $scope.conference.length];
	     $scope.nextOccasion = $scope.conference[($scope.currentOccasionIx + 1) % $scope.conference.length];
	  };

      $scope.simulationTimes = [
        {name:'1 s', value: 1.0},
        {name:'15 s', value: 15.0},
        {name:'1 min', value: 60.0},
        {name:'10 min', value: 600.0},
        {name:'1 h', value: 3600.0}
        ];
      $scope.simulationTime = $scope.simulationTimes[0];

      $scope.penaltyChoices = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 50];
      $scope.colocPenalty = $scope.penaltyChoices[0];

      $scope.commandInProgress = false;

	  $scope.stepOccasion(0);

	  $scope.runSimulation = function() {
	     $scope.commandInProgress = true;
	     $http({method: 'POST', url: '/simulate',
	            data: {participant_names: $scope.participant_names,
	                   conference: $scope.conference,
	                   weight_matrix: weight_matrix,
	                   simulation_time: $scope.simulationTime['value']},
	            headers: {"Content-Type": "application/json"}}).
            success(function(data, status, headers, config) {
                console.log("Received response");

                // Copy into the original conference object to avoid that the references
                // to the conference from the directives are not lost
                for(var i = 0; i < $scope.conference.length; i++) {
                    $scope.conference[i] = data['conference'][i];
                }
                $scope.relations = data['relations'].slice(0, $scope.relationsCount);
                $scope.stepOccasion(0);

//                $scope.relations = data['relations'];
                console.log("Response processed");
            }).
            error(function(data, status, headers, config) {
                console.log("Error calling simulate!")
            }).
            finally(function(data, status, headers, config) {
                $scope.commandInProgress = false;
            });
	  };

	  $scope.getResult = function() {
         $http({method: 'POST', url: '/result/excel',
                data: {participant_names: $scope.participant_names,
                       conference: $scope.conference,
                       weight_matrix: weight_matrix},
	            headers: {"Content-Type": "application/json"}}).
            success(function(data, status, headers, config) {
                console.log("Received file name ");

                // Dirty hack to trigger download
                angular.element($document[0].body).append("<iframe src='" + data.url + "' style='display: none;'></iframe>");
            }).
            error(function(data, status, headers, config) {
                console.log("Error getting file!")
            });
	  }
	});
  </script>

</html>